<!DOCTYPE html>
<html>
{{> fragments/html_header}}
<body>
	{{> fragments/top_bar logged out}}
    <div class="content">
        <h3>Login</h3>
        <div class="login-form">
            <form method="post" action="/login">
                <input type="text" name="username" class="text-input" placeholder="Username"/>
                <input type="password" name="password" class="text-input" placeholder="Password"/>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
    {{> fragments/footer}}
</body>
</html>